.copy
  font-size font-copy

.smallprint
  margin-top 3em
  font-size font-small

.undecorated
  color inherit

.padded
  padding 0 1em

rounding = 5px

.rounded
  border-radius rounding

.rounded-top
  border-top-left-radius rounding
  border-top-right-radius rounding

.clearfix
  zoom 1
  &:before, &:after
    content '.'
    display block
    height 0
    overflow hidden
  &:after
    clear both

.header
  border-bottom 1px solid fg-border-header

.footer
  margin-top 4em
  padding-bottom 0.4em

.ribbon
  position absolute
  top 0
  right 0
  display none

.bullets
  padding-left 1em
  margin-top 1em

.bullet
  list-style-type disc
  font-size font-copy
  line-height 1.5

.action-area
  margin-top 1.8em

.action
  @extend .rounded

  margin 2em 0 0
  padding 0.8em 1.2em 0.6em
  font-size font-copy
  font-weight bold
  color fg-button
  text-shadow 0 -1px 1px shadow-light
  text-decoration none

  &.ok
    vertical-gradient(lighten(bg-action, 20%), darken(bg-action, 20%), bg-action)
    box-shadow 0 1px 1px darken(bg-action, 30%)

  &.cancel
    vertical-gradient(lighten(bg-cancel, 20%), darken(bg-cancel, 20%), bg-cancel)
    box-shadow 0 1px 1px darken(bg-cancel, 30%)

  &:active
    clear-vertical-gradient()

.error
  @extend .rounded

  padding 1em 0
  overflow hidden
  background-color bg-error
  color fg-error

  &::selection
    background-color bg-error-selection

panel-padding = 0.8em
panel-padding-undo = 0 - panel-padding

.panel
  @extend .rounded
  @extend .clearfix

  margin-top 1.3em
  padding panel-padding
  border 1px solid fg-border

  .action
    margin-top 1em

.panel-header
  @extend .rounded-top

  margin panel-padding-undo panel-padding-undo panel-padding
  padding panel-padding panel-padding 0.6em
  border-bottom 1px solid fg-border
  vertical-gradient(bg-body, lighten(bg-body, 12%), lighten(bg-body, 6%))
  font-size 1em
  font-weight bold

.avatar
  float left
  height 32px
  border 1px solid fg-border

.username
  margin 1.4em 0 0 42px

.repo
  margin 0.4em 0 0 panel-padding

.description
  margin 0

.separator
  display none
  margin 0 0.2em

.signout
  margin-top 0.4em

.news
  margin-bottom 0.5em

  &.good
    color fg-news-good

  &.bad
    color fg-news-bad

  &.indifferent
    margin-bottom 1em
    color fg-news-indifferent

.inline
  display inline

.right
  float right

.control
  margin-top 0.6em

.control-part
  width auto
  padding 0
  border none

.checkbox
  vertical-align top
  background-color fg-body
  color bg-body

.submit
  width auto
  line-height normal

.delete
  margin-right 1em

