{{#partial 'title'}}Sign in{{/partial}}
{{#partial 'startHeading'}}{{/partial}}
{{#partial 'endHeading'}}{{/partial}}
{{#partial 'content'}}
<p>
  Do you have hundreds or even thousands
  of repositories starred on GitHub?
  Projects that your well-intentioned former self
  meant to revisit at some point down the line,
  but never got round to doing?
</p>

<ul class="bullets">
  <li class="bullet">
    Sign in with your GitHub account.
  </li>

  <li class="bullet">
    Receive serendipitous email reminders about forgotten starred repos.
  </li>

  <li class="bullet">
    Choose either daily, weekly or monthly reminders.
  </li>
</ul>

<div class="action-area">
  <a class="action ok" href="{{url}}">Sign in with GitHub</a>
</div>
{{/partial}}
{{> layout}}
