<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{#block 'title'}}{{/block}} | GitHubReminder</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Serendipitous email reminders for your starred repos on GitHub."/>

    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/style/dark.css"/>
  </head>

  <body>
    <header>
      <div class="header padded">
        <h1>{{#block 'startHeading'}}{{/block}}GitHubReminder{{#block 'endHeading'}}{{/block}}</h1>
      </div>
    </header>

    <div class="body padded">
      {{#block 'content'}}{{/block}}
    </div>

    <footer>
      <a href="https://github.com/philbooth/GitHubReminder">
        <img class="ribbon" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"/>
      </a>

      <div class="footer padded">
        <p class="smallprint">
          Copyright &copy; 2013, 2014
          <a href="http://philbooth.me/">Phil Booth</a>
        </p>
      </div>
    </footer>

    <script>
      document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"><\/script>');
    </script>

    <script>
      window.jQuery || document.write('<script src="/lib/jquery.min.js"><\/script>');
    </script>

    <script src="/lib/GitHubReminder.js"></script>

    <script>
      (function (i, s, o, g, r, a, m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-36426717-3', 'githubreminder.org');
      ga('send', 'pageview');
    </script>
  </body>
</html>

